<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GeometricExplanation</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <br>
    <br>
    <h2 style="text-align: center;">Advertisement</h2>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4527385682541454"
    crossorigin="anonymous"></script>
    <div style="display: flex;
    justify-content: center;
    align-items: center;" >
      <!-- style="display: block; width: 75%; border-style: dotted;" -->
      <ins class="adsbygoogle"
      style="display: block; width: 75%; border-style: dotted;"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-4527385682541454"
      data-ad-slot="2714714081"></ins>
      
    </div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  </body>
</html>
